bootstrap-servers=PLACEHOLDER_BOOTSTRAP_SERVERS
api-key=PLACEHOLDER_API_KEY
api-secret=PLACEHOLDER_API_SECRET
schema-registry-url=PLACEHOLDER_SCHEMA_REGISTRY_URL
schema-registry-api-key=PLACEHOLDER_SCHEMA_REGISTRY_API_KEY
schema-registry-api-secret=PLACEHOLDER_SCHEMA_REGISTRY_API_SECRET
